
@{
    ViewBag.Title = "Kullanıcı Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" enctype="multipart/form-data" name="kullaniciekleform">
    @Html.Raw(TempData["msg"])
    <div class="col-md-6 center-page card-box">
        <!--AdSoyad--> <div class="form-group form-md-line-input has-success form-md-floating-label">
            <div class="input-icon right">
                <label for="form_control">Ad Soyad</label>
                <input type="text" min="5" required name="AdSoyad" onkeypress="return ((event.charCode > 64 && event.charCode < 380) || event.charCode == 32 || (event.charCode > 96 && event.charCode < 123))" maxlength="30" class="form-control">

            </div>
        </div>
        <!--TCKimlikNo--> <div class="form-group form-md-line-input has-success form-md-floating-label">
            <div class="input-icon right">
                <label for="form_control">TC Kimlik No</label>
                <input type="text" required name="TC" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="11" pattern="[0-9]{11}" class="form-control">

            </div>
        </div>
        <!--Eposta--> <div class="form-group form-md-line-input has-info form-md-floating-label">
            <div class="input-icon right">
                <label for="form_control">E-Posta</label>
                <input type="email" name="Mail" autocomplete="off" maxlength="50" required class="form-control">
            </div>
        </div>
        <!--Telefon-->
        <div class="form-group form-md-line-input has-info form-md-floating-label">
            <label>İletişim - Telefon</label>
            <input type="text" required name="IletisimTel" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" pattern="[0-9]{10}" placeholder="" data-mask="(999) 999-9999" class="form-control">
            <span class="font-13 text-muted">(XXX) XXX-XXXX</span>
        </div>
        <!--Sifre-->
        <div class="form-group form-md-line-input has-info form-md-floating-label">
            <label>Sifre</label>
            <input type="password" required name="Sifre" autocomplete="off" class="form-control">
        </div>
        <div class="form-group form-md-line-input has-info form-md-floating-label">
            <label>Sifre Tekrar</label>
            <input type="password" required name="SifreTekrar" autocomplete="off" class="form-control">
        </div>

        <!--BUTONLAR--> <div class="form-actions noborder">
            <button type="button" onclick="FormKaydet()" class="btn btn-custom waves-effect waves-light btn-md">Kaydet</button>
            <button type="reset" class="btn btn-custom waves-effect waves-light btn-md">İptal</button>
        </div>
    </div>
    <input type="hidden" name="donenveri" id="donenveri" />
    <script>
        function FormKaydet() {
            if (document.getElementsByName("Sifre")[0].value == document.getElementsByName("SifreTekrar")[0].value)
                kullaniciekleform.submit();
            else
                alert("Şifreler Eşleşmiyor");
        }
        function sec(deger) {
            var Veri = { Veri: document.getElementsByName("Adres_Il")[0].value };
            $.ajax({
                url: '@Url.Action("SelectDoldur", "Personel")',
                type: 'POST',
                dataType: 'json',
                data: Veri,
                success: function (data) {
                    document.getElementsByName("Adres_Ilce")[0].innerHTML = data;
                }
            });
        }
        function ackapa(veri) {
            if (veri == "calisma") {
                var deger = document.getElementsByName("Calisma_Turu")[0].value;
                if (deger == "Yarı Zamanlı")
                    document.getElementById("anlasilandk").setAttribute("style", "display:block;");
                else
                    document.getElementById("anlasilandk").setAttribute("style", "display:none;");
            }
            else {

                var deger = document.getElementsByName("Pozisyon")[0].value;
                if (deger == "91" || deger == "92" || deger == "93" || deger == "94" || deger == "95") {
                    document.getElementById("diplomadiv").setAttribute("style", "display:block;");
                    document.getElementById("sertifikadiv").setAttribute("style", "display:block;");
                    document.getElementById("sertifikadiv1").setAttribute("style", "display:block;");
                    document.getElementById("sertifikadiv2").setAttribute("style", "display:block;");
                    document.getElementById("diploma").setAttribute("style", "display:block;");
                    document.getElementById("sertifika").setAttribute("style", "display:block;");
                    document.getElementsByName("Diploma_No")[0].setAttribute("required", "required");
                    document.getElementsByName("Sertifika_No")[0].setAttribute("required", "required");
                    document.getElementsByName("Sertifika_Baslangic_Tarihi")[0].setAttribute("required", "required");
                    document.getElementsByName("Sertifika_Bitis_Tarihi")[0].setAttribute("required", "required");
                }
                else {
                    document.getElementById("diplomadiv").setAttribute("style", "display:none;");
                    document.getElementById("sertifikadiv").setAttribute("style", "display:none;");
                    document.getElementById("sertifikadiv1").setAttribute("style", "display:none;");
                    document.getElementById("sertifikadiv2").setAttribute("style", "display:none;");
                    document.getElementById("diploma").setAttribute("style", "display:none;");
                    document.getElementById("sertifika").setAttribute("style", "display:none;");
                }
            }
        }

    </script>

</form>